* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: whitesmoke; */
}

body {
    background: whitesmoke;
}

#nav-container {
    width: 100vw;
    border-bottom: 2px solid black;
    height: 50px;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 1000;
    
}

#nav-container a {
    text-decoration: none;
    color: black;
}

#nav-left, #nav-right {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nav-left div {
    display: flex;
    flex-direction: row;
}

#nav-left div h1 {
    margin-right: 2vw;
}

#nav-left div h1:nth-of-type(1), #nav-left div h1:nth-of-type(3) {
    text-align: center;
} 

#nav-left div:nth-of-type(1) {
    margin-left: 10%;
}

#nav-left div h1, #nav-right div h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 10px;
}

#nav-middle {
    width: 20%;
    display: flex;
    align-items: center;
}

#nav-middle h1 {
    font-family: 'Comfortaa', cursive;
    width: 100%;
    font-size: 15px;
    text-align: center;
    letter-spacing: -2px;
}

#search-container {
    border: 1px solid rgba(177, 175, 175, 0);
    overflow: hidden;
    width: 120px;
    margin-left: auto;
    padding-right: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    height: 20px;
    -webkit-transition: 1s;
}

#search-container #slide {
    align-self: flex-end;
    margin-left: -15px;
    position: absolute;
    opacity: 0;
    -webkit-transition: 0.3s;
    bottom: 20px;
}

#nav-right input[type=text] {
    background: whitesmoke;
    border: none;
    width: 120px;
    z-index: 9999;
    text-align: right;
    padding-left: 8px;
    font-size: 10px;
    font-family: 'Comfortaa', cursive;
}

#nav-right input[type=text]:focus {
    outline: none;
}


#nav-right div:nth-of-type(2) {
    text-align: center;
    width: 100px;
    /* margin-right: 5%; */
    margin-left: 1%;
}

#nav-right div:nth-of-type(3) {
    text-align: center;
    width: 20%;
}

#nav-right div:nth-of-type(4) {
    width: 20%;
}













#business-card-container {
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.business-card-container-column h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

#first-container, #second-container, #third-container, #fourth-container {
    text-align: center;
    width: 100%;
    height: 40%;
    
}

#fourth-container, #second-container {
    display: flex;
    flex-direction: column-reverse;
}

.business-card-container-column:nth-of-type(1), .business-card-container-column:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    border: 1px solid red;
    /* width: 20vw; */
}

.business-card-container-column:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    /* background-image: url("gif-bg.mov");
    background-size: cover;
    background-repeat: no-repeat; */
    /* border: 1px solid red; */
}

.business-card-container-column:nth-of-type(2) div {
    text-align: center;
    width: 50%;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}


.business-card-container-column {
    height: 100vh;
    width: 33%;
}






#collection-container {
    width: 100vw;
    border: 1px solid black;
    padding-top: 10vh;
}

#collection-container div:nth-of-type(2) {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 20px;
    padding: 10vh 0px 1vh 0px;
}

#collection-item-container-wrap {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
}

#collection-container div:nth-of-type(3) {
    font-family: 'Comfortaa', cursive;
    font-size: 7px;
    display: flex;
    justify-content: center;
    padding: 5vh 0 5vh 0;
}

#collection-container div:nth-of-type(3) a {
    border: 1px solid black;
    background-color: black;
    color: white;
    width: 200px;
    text-align: center;
    padding: 10px 0 10px 0;
    text-decoration: none;
    -webkit-transition: 0.2s;
}

#collection-container div:nth-of-type(3) a:hover {
    background-color: whitesmoke;
    color: black;
}

.collection-item-container {
    margin: 10px;
    width: 400px;
    height: 400px;
    border: 1px solid black;
}

footer {
    width: 100vw;
    height: 300px;
    border: 1px solid black;
}