* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav-container {
    width: 100vw;
    border: 1px solid black;
    height: 50px;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 1000;
    background: whitesmoke;
}

#nav-container h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

#nav-shop-container, #nav-projects-container, #nav-logo-container, #nav-about-container, #nav-contact-container {
    border: 1px solid red;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-logo-container {
    flex-basis: 50%;
}










#business-card-container {
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.business-card-container-column:nth-of-type(1), .business-card-container-column:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.business-card-container-column:nth-of-type(1) div, .business-card-container-column:nth-of-type(3) div {
    border: 1px solid red;
    width: 100%;
    height: 40%;
}

.business-card-container-column:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.business-card-container-column:nth-of-type(2) div {
    border: 1px solid red;
    text-align: left;
}

.business-card-container-column:nth-of-type(2) div h1:nth-of-type(1) {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    font-weight: bold;
}

.business-card-container-column:nth-of-type(2) div h1:nth-of-type(2) {
    font-family: 'IM Fell English', serif;
}

.business-card-container-column {
    height: 100vh;
    border: 1px solid green;
    width: 33%;
}





#shop-container {
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
}

#shop-container {
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
}

#projects-container {
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
}

#contact-container {
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
}

footer {
    width: 100vw;
    height: 300px;
    border: 1px solid black;
}