* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: whitesmoke; */
}

body {
    background: whitesmoke;
}

#nav-container {
    width: 100vw;
    border-bottom: 2px solid black;
    height: 50px;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 1000;
    background: whitesmoke;
}

#nav-container h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    -webkit-transition: 0.2s;
}

#nav-container h1:hover {
    letter-spacing: -1px;
}

#nav-shop-container, #nav-projects-container, #nav-logo-container, #nav-about-container, #nav-contact-container {
    /* border: 1px solid red; */
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-logo-container {
    flex-basis: 50%;
}









#business-card-container {
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.business-card-container-column h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

#first-container, #second-container, #third-container, #fourth-container {
    text-align: center;
    width: 100%;
    height: 40%;
    
}

#fourth-container, #second-container {
    display: flex;
    flex-direction: column-reverse;
}

.business-card-container-column:nth-of-type(1), .business-card-container-column:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    border: 1px solid red;
    /* width: 20vw; */
}

.business-card-container-column:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    /* background-image: url("gif-bg.mov");
    background-size: cover;
    background-repeat: no-repeat; */
    /* border: 1px solid red; */
}

.business-card-container-column:nth-of-type(2) div {
    text-align: center;
    width: 50%;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}


.business-card-container-column {
    height: 100vh;
    width: 33%;
}






#shop-container {
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
}

#shop-container {
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
}

#projects-container {
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
}

#contact-container {
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
}

footer {
    width: 100vw;
    height: 300px;
    border: 1px solid black;
}